@import "../../vars.css";

.summary-box {
    padding: 10px;
    margin-left: 30%;
}

.summary-content {
    margin-top: 60px;
    margin-right: 20px;
    white-space: pre-wrap;
}

.summary-content > h2 > span {
    color: var(--main-color);
}