@import "../../vars.css";

.project-box {
    margin: 20px 80px 100px 80px;
}

.project-tile {
    width: 40%;
    margin: 50px 10px 50px 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all 1s;
    border-radius: 5px;
}

.project-tile:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.562);
}

.project-tile:active {
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.411);
}

.project-tile:nth-of-type(even) {
    border-left: 2px solid var(--main-color);
    margin-left: auto;
}

.project-tile:nth-of-type(even):hover {
    margin-right: 10%;
}

.project-tile:nth-of-type(odd) {
    border-right: 2px solid var(--main-color);
}

.project-tile:nth-of-type(odd):hover {
    margin-left: 10%;
}

.project-text {
    min-width: 50%;
    width: 50%;
    max-width: 50%;
}

.project-description {
    width: 100%;
}

.project-tile:nth-of-type(odd) .project-text {
    order: 1;
}

.project-tile:nth-of-type(odd) .project-text {
    text-align: right;
}

.project-tile:nth-of-type(odd) .project-text .generic-button {
    margin-left: auto;
}

.project-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-thumbnail > img {
    max-height: 250px;
    max-width: 360px;
}

@media screen and (max-width: 980px) {
    .project-box {
        min-height: 100vh;
    }
    .project-thumbnail > img {
        max-height: 150px;
        max-width: 200px;
    }
    .project-tile {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .project-tile:nth-of-type(odd):hover {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.project-box a {
    text-decoration: none;
}

.project-box .generic-button {
    margin: 5px;
}